.sectionTilte {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  color: #173b6c;
  font-family: sans-serif;
}

.img {
  width: 100%;
}

hr {
  height: 4px;
  background: #149ddd;
  width: 4%;
}
