.home {
  background-color: black;
  position: relative;
}

.home::before {
  content: "";
  background-image: url(../../../public/img/mer.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

* {
  position: relative;
}

.homeTitle1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: Raleway;
}

.homeTitle2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
